<html>
	<head>
		<title> Expenses Page </title>
	</head>
	<body>
		<h1> Welcome to the index page </h1>
		<h3> Your total expense is <%= @addedamount %></h3>
		<a href="/show/:id">Show i'd's</a>
		<a href="/new">New Form</a>
	</body>
</html>
