<html>
	<body>
		<form method="POST" action="/save">
			<label for="name">Enter item name:</label>
			<input type="text" name="name"/>
			<label for="number">Enter item amount:</label>
			<input type="text" number="number"/> 
			<br />
			<input type="submit" value="Submit"/>
	</body>
</html>
